{%extends 'base.html'%}
{% block content %}
{{ block.super}}
<style>
    h1{
        text-align: center;
        padding-top: 20px;
        padding-bottom:20px; 

    }
</style>
<body style="background-color:white">
    <h1> AWARDS </h1>

    <!-- <div class="container-fluid " style="margin-top:100px" id="con">
        <br>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4 col-lg-4">
                <div class="pro">
                    <a href="{% url 'project' project.id %}">

                        {% if project.screenshot %}
                        <img style="margin:px;height:100%;width:100%;" src="{{project.screenshot.url}}"
                            class="img img-responsive" alt="Image">
                        {% endif %}
                    </a>
                    <br>

                    <h4 class="text" style="margin-left:3px"><strong>{{project.sitename}}</strong></h4>
                    <p class="text" style="margin-left:3px">{{project.description}}</p>
                    <p><img style='margin-left:3px;border-radius:100px;height:30px;width:30px'
                            src='{{project.profile.profile_pic.url}}'> <i><b>{{project.owner}}</b></i></p>
                </div>
            </div>
            {% endfor %}


        </div>
    </div> -->
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4 d-flex align-items-stretch">

                <!-- Card -->
                <div class="card mb-3">

                    <!-- Card image -->
                    {% if project.screenshot %}
                    <div class="view overlay zoom">
                        <img style="margin:px;height:100%;width:100%;" src="{{project.screenshot.url}}"
                            class="img img-responsive" alt="Image">
                        <a href="{% url 'project' project.id %}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                     

                    </div>
                    {% endif %}

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <!-- <h4 class="card-title">Card title</h4> -->
                        <!-- Text -->
                        <h4 class="text" style="margin-left:3px"><strong>{{project.sitename}}</strong></h4>
                        <p class="text" style="margin-left:3px">{{project.description}}</p>
                        <p><img style='margin-left:3px;border-radius:100px;height:30px;width:30px'
                                src='{{project.profile.profile_pic.url}}'> <i><b>{{project.owner}}</b></i></p>
                        <!-- Button -->
                        <!-- <a href="#" class="btn btn-primary">Button</a> -->

                    </div>

                </div>
                <!-- Card -->

            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}