{%extends 'base.html'%}
{% block content %}
{{ block.super}}


<title>Rating</title>
{{form.media}}
{% load bootstrap3 %} {% load staticfiles %}
{% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link
    href="https://fonts.googleapis.com/css?family=Aguafina+Script|Dancing+Script|Lobster|Niconne|Pacifico|Righteous|Satisfy&display=swap"
    rel="stylesheet">
{% endblock %}


<div class="container" style="margin-top:70px;margin-bottom:50px;">
    <div class="row">
        <div class="col-md-4 col-sm-3 col-xs-2"></div>
        <div class="col-md-4 col-sm-6 col-xs-8">
            <h2 class="text-center">Rate </h2>
            <br>
            <form style="border:white" action="{% url 'review' project.id %}" method="post"
                enctype="multipart/form-data">
                {%csrf_token%}

                <i><span class="rate-form"> {% bootstrap_form form%}
                        <input type="submit" class="btn btn-primary btn-sm" value="Next"></span></i>
            </form>
        </div><br>
        <div class="col-md-4 col-sm-3 col-xs-2"></div>
    </div>
</div>
{% endblock %}